.bg-image11{
    background-image: url('./img/image11.png');
}
.bg-image12{
    background-image: url('./img/image12.png');
}
.bg-image13{
    background-image: url('./img/image13.png');
}
.bg-imageeee{
    background-image: url('./img/imageeee.jpg');
}
.bg-image333{
    background-image: url('./img/image333.jpg');
}
.bg-image444{
    background-image: url('./img/image444.png');
}
.bg-image555{
    background-image: url('./img/image555.png');
}
.bg-image666{
    background-image: url('./img/image666.jpg');
}
